<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	 
	<!-- 设置打印sql语句 
	<settings>
		 <setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	-->
	
	<plugins>
		<!-- 显示数据库插件 -->
		<plugin interceptor="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
	        <property name="maxTime" value="1000" />
	        <!--SQL是否格式化 默认false-->
	        <property name="format" value="true" />
        </plugin>
        <!-- 分页插件 -->
		<plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor"></plugin>
	</plugins>
	
    
</configuration>