<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.mapper.GradeMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.charles.bean.Grade">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="locked" property="locked" />
        <result column="del" property="del" />
        <result column="description" property="description" />
        <result column="count" property="count" />
        <result column="teacherid" property="teacherid" />
        <result column="majorid" property="majorid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, locked, del, description, count, teacherid, majorid
    </sql>

</mapper>
